# Direct requirements of this project alone
matminer==0.6.2
pymatgen==2020.4.29
xgboost==0.80
tpot==0.11.0
skrebate==0.6
pyyaml==5.1.2

# Also requirements of matminer
# numpy
# pandas
# scikit_learn
# pymatgen